# Django
Django==5.1.2
django-extensions==3.2.3

# Database
psycopg2-binary==2.9.9

# Testing
pytest==8.3.3
pytest-django==4.9.0
pytest-cov==5.0.0

# Code Quality
pylint==3.3.1
pylint-django==2.5.5

# Development
python-dotenv==1.0.1
